ion-title{
    width: 100%;
    text-align: center;
}
body{
    background: black;
    color: white;
}
ion-content{
    --background: transparent; 
    position: relative;
    left: 5%;
}
ion-toolbar{
    --background: rgb(20, 20, 20);
    color: white;
}
ion-card{
    height: fit-content;
    width: fit-content;    
    --background: rgb(22, 22, 22);
    float: left;
}
.defaultApps{
    position: absolute;
    top: 10%;
}
ion-list{
    position: absolute;
    top: 45%;
    width: 90%;
    background: transparent;
}
ion-item{
    --background: transparent;
}
.newApp{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
    text-align: left;
    --background: transparent;
}
.fab{
    position: absolute;
    top: 85%;
    left: 75%;
    font-size: 1.3em;
}
.defaultApp{
    height: 100px;
    width: 100px;
}
.Facebook{
    --background: url(../../../assets/fb.png) no-repeat center;
    height: 100px;
    width: 100px;
}
.Facebook::hover{
    --background: transparent;
}
.Instagram{
    --background: url(../../../assets/insta.png) no-repeat center;
    height: 100px;
    width: 100px;
}
.Snapchat{
    --background: url(../../../assets/sc.png) no-repeat center;
    height: 100px;
    width: 100px;
}
.Twitter{
    --background: url(../../../assets/twitter.png) no-repeat center;
    height: 100px;
    width: 100px;
}
.Netflix{
    --background: url(../../../assets/netflix.png) no-repeat center;
    height: 100px;
    width: 100px;
}
.Google{
    --background: url(../../../assets/google.png) no-repeat center;
    height: 100px;
    width: 100px;
}