<ion-toolbar>
  <ion-title>Passwords</ion-title>
</ion-toolbar>

<body>
    <ion-content>
      <div class="defaultApps">
        <ion-card *ngFor="let icon of icons">
          <ion-button fill="undefined" [class]="icon" class="fb " (click)="addApp($event,icon)"></ion-button>
        </ion-card>
      </div>
      <ion-list>
        <ion-item>
          <ion-button expand="full" fill="clear" color="light" class="newApp">Example app name</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" fill="clear" color="light" class="newApp">Example app name</ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" fill="clear" color="light" class="newApp">Example app name</ion-button>
        </ion-item>
      </ion-list> 
      <ion-fab-button color="danger" class="fab" color="danger">+</ion-fab-button>  
    </ion-content>
</body>
